/*------------------------------------*\
    $Text
\*------------------------------------*/

Menu-Color 			= #0008
p--Color 				= #666666
text_h--Color 			= #3399cc
text_a--Color 			= #444

// font weight

text_weight--Light 		= 300
text_weight--Normal 	= 400
text_weight--Bolder 	= 500
text_weight--SemiBold 	= 600
text_weight--Bold 		= 700
text_weight--ExtraBold 	= 800

//H1 clip image background
	// for .background-clip .content .texture-1
h1--background-clip-1 	= ('../images/text-texture-1.jpg')
	// for .background-clip .content .texture-2
h1--background-clip-2 	= ('../images/text-texture-2.jpg')
	// for .background-clip .content .texture-3
h1--background-clip-3 	= ('../images/text-texture-3.jpg')
	// for .background-clip .content .texture-4
h1--background-clip-4 	= ('../images/text-texture-4.jpg')


/*------------------------------------*\
    $Button Colors
\*------------------------------------*/

ButtonBackgroundColor 	= 'black'
InputBackgroundColor 	= 'black'
ButtonColor 			= 'black'
InputColor 				= 'black'
ButtonHoverColor 		= 'black'
ButtonActiveColor 		= 'black'
ButtonDisabledColor 	= 'white'
ButtonSelectedColor 	= '(black, .8)'
ButtonDisabledColor 	= 'black'
ButtonShadow 			= 'black'