@media screen and (min-device-width : 320px) and (max-device-width : 480px)
	.content
		width: 1000px
		margin: 0 100px
		padding: 100px

@media screen and (min-device-width : 768px) and (max-device-width : 1024px)
	.content
		width: 1000px
		margin: 0 100px
		padding: 100px

@media screen  and (min-width : 1224px)
	.content
		width: 1000px
		margin: 100px 100px
		padding: 100px