/* ==============
    MENU
   ============== */
@media bp-smartphone
    .header
        background-color: Menu--Color

@media bp-tablet
    .header
        background-color: Menu--Color

@media bp-desktop
    .header
        position: fixed
        background-color: Menu--Color
        width: 100%
        height: 48px;
        top: 0px;
        left: 0px;
        display: flex
        flex-direction: row
        align-items: center
