.content
	background-color white

.background
	height 			100vh
	width 			100vw
	background 		#555
	position 		fixed
	left 			0
	top 			0
	vertical-align 	bottom
	z-index -20
	
	canvas
		visibility hidden


@media bp-tablet
	.background
		canvas
			visibility visible !important
