/* ==============
    MENU
   ============== */
@media bp-smartphone
    .menu
        display: none;

@media bp-tablet
    .menu
        list-style-type: none
        align-self: flex-end
        .menu__item
            display: inline
            a
                color: white

@media bp-desktop
    .menu
        list-style-type: none
        align-self: flex-end
        .menu__item
            display: inline
            margin: 0vw 2vw 0vw 2vw
            a
                color: white
