#menu
    background-color: Menu-Color
	
  	ul
  		li
   			color: white

/* ==============
    MOBILE
   ============== */
@media screen and (min-device-width : 320px) and (max-device-width : 480px)
    #menu
        background: Menu-Color
    	
    	a
    		color: white
